<section>
  <h1>About Page</h1>
  <p>This is a starter Ruby on Rails Project to practice fundamentals</p>
  <p>All products shown are fake and for learning purposes only </p>
  <p>Creator: Dennis Law</p>
</section>